<!DOCTYPE html>
<html>
    <head>
        <title>
            LOGIN
        </title>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div>{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/login" method="post">
            <label for="uid">uid: </label>
            <input type="text" name="uid">
            <label for="password">password: </label>
            <input type="password" name="password">
            <input type="submit" value="login">
        </form>
    </body>
</html>
