<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ problem.name }}
        </title>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=false) %}
        {% if messages %}
        {% for message in messages %}
        <div>{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div id="submission">
            <form method="post" action="/problems/{{ problem.id }}/submit" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="upload">
            </form>
        </div>
        <div id="description">{{ problem.description }}</div>
    </body>
</html>
