{% extends 'base.html' %}
{% block title %}Problems{% endblock %}
{% block body %}
<div class="col-10 container-fluid">
    {% if user.isAdmin %}
    <div class="d-grid mt-3">
        <a href="/problems/reload" class="btn btn-primary btn-block">Reload Problems</a>
    </div>
    {% endif %}
    <table class="table table-hover table-responsive mt-3">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Deadline</th>
            <th scope="col">Quota</th>
        </tr>
        {% for problem in problems %}
        <tr>
            <th scope="row">{{ problem.id }}</td>
            <td><a class="link-primary" href="/problems/{{ problem.id }}">{{ problem.name }}</a></td>
            <td>{{ problem.deadline.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>{{ getQuota(problem.id, user.uid) }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}